<%= render partial: 'spree/admin/users/sidebar', locals: { current: :items } %>
<%#= render partial: 'spree/admin/users/user_page_actions' %>
<% content_for :page_title do %>
  Subscription Configs
<% end %>

<h1>Config</h1>